OPENAI_API_KEY=[OPENAI_API_KEY]
MODEL="gpt-4"
SUMMARIZER_MODEL="gpt-3.5-turbo"
ENABLE_CRITIC=false
PROMPT_USER=true

MAX_CONTEXT_SIZE=4000
MAX_MEMORY_ITEM_SIZE=2000
SUMMARIZER_CHUNK_SIZE=3000

WORK_DIR=
DEBUG=false
